$baseBorder: 1px solid $borderColor;

@mixin base-border($top:true, $right: true, $bottom: true, $left: true) {
  @if $top {border-top: $baseBorder}
  @if $right {border-right: $baseBorder}
  @if $bottom {border-bottom: $baseBorder}
  @if $left {border-left: $baseBorder}
}

@mixin base-shadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}

@mixin base-transition {
  transition: all .2s ease 0s
}

@mixin row-no-gutter {
  padding-right:0;
  padding-left:0;
}